
*{
    margin: 2px;
    padding: 2px;
}
:root{
    --cor-de-fundo: #ffffff;
    --texto: #000000;
}
body{
    /* hhhhhh */
    background-color:var(--cor-de-fundo);
    color: var(--texto);   
    }
    img{
        width: 15%;
        justify-content: center;
        display:flex;
    }
header{
    display: flex;
    width: 100%;
    background-color: #94af6d;
    padding: 1rem;
    position: relative;
    justify-content: space-between;
    gap: 20px;
}
.img-filmes{
    width: 50%;

}
    .filmes{
        display: flex;
    }
 .subtítulo{
     display:inline
 }
 .filme{
    width: 40%;
 }
 footer{
    background-color: #94af6d; 
 }
 .titulo{
    display: center;
 }
nav a {
    text-decoration: none; 
    color: inherit; 
    margin-top: 20px; 
}