
*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor-de-fundo: #ffffff;
    --texto: #000000;
}
body{
    /* hhhhhh */
    background-color:var(--cor-de-fundo);
    color: var(--texto);
    
    }
    img.filme{
        wigth: 40%;
    }
    img{
        width: 15%;
        justify-content: center;
        display:flex;
    }
header{
    background-color:#d5e2c3 
    display: block;
    flex-wrap: wrap;
    align-items: baseline;
}
.img-filmes{
    width: 50%;
    display: flex;
}
    .filmes{
        display: block;
    }
 .subtítulo{
     display:inline
 }
        