
*{
    margin: 2px;
    padding: 2px;
}
:root{
    --cor-de-fundo: #ffffff;
    --texto: #000000;
}
body{
    /* hhhhhh */
    background-color:var(--cor-de-fundo);
    color: var(--texto);   
    }
    img{
        width: 15%;
        justify-content: center;
        display:flex;
    }
header{
    background-color:#94af6d; 
      display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.img-filmes{
    width: 50%;

}
    .filmes{
        display: flex;
    }
 .subtítulo{
     display:inline
 }
 .filme{
    width: 40%;
 }
 .foto-equipe{
    width: 40%;
 }

 #sobre-nós{
    display: flex;
 }
 footer{
    background-color: #94af6d; 
 }
 .titulo{
    display: center;
 }
nav a {
    text-decoration: none; 
    color: inherit; 
    margin-top: 20px; 
}
.introdução{
    
}